/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    user-select: none;
}

/* Display */
.displayDisabled {
    display: none !important;
}

.displayEnabled {
    display: flex !important;
}

/* Header css */

header {
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Root css */
#root {
    display: flex;
    justify-content: center;
}

/* Container css */

.container {
    width: 700px;
}

/* Navigation css */

.navigation {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.nav__title {
    font-size: 22px;
    margin-left: 10px;
}

/* css navleft */

.nav__lef {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Icon navigation on header */
.navbtn__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.navbtn__icon .fa-solid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* 
    Author: Andor Nagy
    Codepen: https://codepen.io/andornagy/pen/EVXpbR 
    Thanks you! @Andor Nagy Support Built Web App Vocabulary
*/

/* content css */
.content {
    padding: 0 16px 16px 16px;
}


table { 
	width: 100%; 
	border-collapse: collapse; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 8px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 14px;
}

/* HeaderContent */
.HeaderContent {
    display: flex;
    justify-content: space-between;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

/* Template css */

.template {
    position: absolute;
    z-index: 1;
    background-color: rgba(34, 32, 32, 0.575);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.BoxInputVoca {
    width: 300px;
    height: 170px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 14px;
}

.BoxInputVoca__title {
    font-size: 20px;
    margin-bottom: 16px;
}

.form__inputVoca {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__inputVoca span {
    font-size: 18px;
    font-weight: 500;
    width: 100px;
}

.form__inputVoca input {
    height: 24px;
    width: 100%;
    border-radius: 4px;
}

.NewWord, .MeanWord {
    padding: 6px;
}

.btngroup {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.btngroup .btnvoca {
    width: 70px;
    height: 28px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #3498db;
    border-color: rgba(210, 171, 247, 0.741);
    color: #ffffff;
}
